html, body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.side{
    flex: 4 1 0;
    background-image: url("kobus-yssel-Wct--ZoyReM-unsplash.jpg");
    background-size: cover;
    position: relative;
}

.logo{
    background-color: rgb(245, 245, 245, 0.3);
    width: 100%;
    text-align: center;
    font-size: 3em;
    position: absolute;
    top: 30%;
    font-weight: bolder;
    padding: 10px;
}

.main{
    flex: 6 1 0;
    display: flex;
    flex-direction: column;
}

.main>*{
    flex: 1 1 0;
    padding: 40px;
}

.text{
    padding-bottom: 20px;
}

.upper{
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.1em;
    font-weight: 1000;
}

.form{
    background-color: white;
}

fieldset{
    display: flex;
    gap: 50px;
    border: none;
    font-size: 1em;
    color: gray;
    padding-left: 0px;
    padding-right: 0px;
}

h2{
    margin: 0px;
    padding-bottom: 10px;
}

button{
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(182, 91, 26);
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(162, 71, 6);
}

input{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

input:focus{
    background-color: whitesmoke;
    border-color: blue;
}

.credits{
    position: absolute;
    bottom: 0%;
    background-color: rgb(225, 225, 225, 0.3);
    width: 100%;
    text-align: center;
    padding: 5px;
}